*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
    
}


.navigation-bar-bot{
	overflow: hidden;
    background-color:rgb(151, 180, 252);
    position:fixed;
    width:100%;	
    bottom: 0%;
    height: 30px;
    z-index: 99999;

}


.navigation-bar-bot p{
	color:  white;
	text-align: center;

}


nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;

}

nav ul {
	float:right;
	margin: 0;
	padding-right: 42px;
	

}

nav	ul li {
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;

}


nav ul li a:hover{
  color: rgb(196, 233, 245);

}


nav.black{
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));


}


.main{
	/*margin-top:52px;*/
	min-height: 100vh;
	background-color:rgb(151, 180, 252);
	/*background-color: red;*/
	font-family: 'Saira Semi Condensed', sans-serif;

	
}

.whole-body{
	/*background-color: red;*/
	width: 90%;
	/*height: 800px;*/
	min-height: 100vh;
	/*height: calc(100vh -50px);*/
	margin: 0 auto;
}


.swiper-container{
      width: 100%;
      padding-top: 120px;
      padding-bottom: 50px;

    }

 .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 500px;
      background: #fff;
      border-radius: 10px;

}


.swiper-slide .imgBx{

	width: 100%;
	height: 230px;
	overflow: hidden;

}

.swiper-slide .imgBx img{

	width: 100%;
	border-radius: 10px;
	object-fit: cover;
	
}

.swiper-slide .details{

	box-sizing: border-box;
	padding: 30px;
	/*background-color: green;*/
	/*background-color:rgb(151, 180, 252);*/

	
}


.swiper-slide  .details h1{

	margin: 0;
	padding: 0;
	font-size: 30px;
	text-align: center;
	font-weight: bold;

	
	
}

.swiper-slide  .details p{

text-align: center;
margin-top: 10px;


}


.menu-toggle{
	color: #fff;
	float: right;
	/*line-height: 50px;*/
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.logo{
	/*height: 48px;*/
	line-height: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}





/*@media css@rule that can be used to apply style on our mediaqueries (mobiles, tablets, desktops
 or larger screens)

 only screen - media type, means that the contained styles should be only applied to the media queries (mobiles, tablets
  desktops or the larger screens)

min-width and max-width -media features, they specify the device's dimensions that we are targeting.*/  

/*media queries*/




/*mobile*/
@media only screen and (max-width: 900px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}


.swiper-container{
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px;



    }

 .navigation-bar-bot{
 	z-index: 9999;
 }

 



}

@media only screen and (max-width: 500px){

 .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 320px;
      height: 420px;
      background: #fff;
      border-radius: 10px;

}

.swiper-slide .imgBx{

	width: 100%;
	height: 200px;
	overflow: hidden;

}

.swiper-slide .imgBx img{

	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	object-fit: contain;
	object-position: 0% 0%;
	
}

.swiper-slide .details{

	box-sizing: border-box;
	padding: 10px;
	/*text-align: justify;*/
	/*background-color: green;*/
	/*background-color:rgb(151, 180, 252);*/

	
}


.swiper-slide  .details h1{

	margin: 0;
	padding: 0;
	font-size: 30px;
	text-align: center;
	font-weight: bold;

	
	
}

.swiper-slide  .details p{

text-align: center;
margin-top: 10px;
font-size: 12px;


}

/*.logo{
	line-height: 60px;
	font-size: 25px;
}*/

.navigation-bar-bot p{
	
	font-size: 14px;
}

.logo{
	font-size: 30px;
}




}

@media only screen and (max-width: 365px){

 .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 280px;
      height: 380px;
      background: #fff;
      border-radius: 10px;

}

.swiper-slide .imgBx{

	width: 100%;
	height: 150px;
	overflow: hidden;

}

.swiper-slide .imgBx img{

	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	object-fit: contain;
	object-position: 0% 0%;
	
}

.swiper-slide .details{

	box-sizing: border-box;
	padding: 10px;
	/*text-align: justify;*/
	/*background-color: green;*/
	/*background-color:rgb(151, 180, 252);*/

	
}


.swiper-slide  .details h1{

	margin: 0;
	padding: 0;
	font-size: 25px;
	text-align: center;
	font-weight: bold;

	
	
}

.swiper-slide  .details p{

text-align: center;
margin-top: 10px;
font-size: 11px;


}

.logo{
	font-size: 30px;
}

.navigation-bar-bot p{
	
	font-size: 12px;
}

nav .menu.active{
	top:92px;
}




}

/*tablets*/


@media only screen and (min-width: 401px) and (max-width: 960px){

}


/*desktop*/


@media only screen and (min-width: 961px){






}