*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

/*html, body{
	min-height:2000px;

}*/

.navigation-bar-bot{
	overflow: hidden;
    background-color:rgb(151, 180, 252);
    position:fixed;
    width:100%;	
    bottom: 0%;
    height: 30px;

}


.navigation-bar-bot p{
	color:  white;
	text-align: center;

}


nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;

}

nav ul {
	float:right;
	margin: 0;
	padding-right: 42px;
	

}

nav	ul li {
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;

}


nav ul li a:hover{
  color: rgb(196, 233, 245);

}


nav.black{
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));


}


.main{
	/*margin-top:52px;*/
	min-height: 100vh;
	background-color:rgb(151, 180, 252);
	font-family: 'Saira Semi Condensed', sans-serif;

	
}



.whole-body{
	/*background-color: red;*/
	width: 90%;
	/*height: 800px;*/
	min-height: 100vh;
	/*height: calc(100vh -50px);*/
	margin: 0 auto;
	
}





.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}


.logo{
	/*height: 48px;*/
	line-height: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}




/*thumbnails*/


.gallery{
	border: 3px solid #ccc;
	

}

.gallery img{
	width: 100%;
	height: 160px;
	object-fit: cover;

	
}

.gallery:hover{

 box-shadow: 0 0 20px 10px rgba(0, 140, 186, 0.5);



}


.des{
	padding: 15px;
	text-align: center;
	background-color: #fff;
	
}

.responsive{
	padding: 	0 6px;
	float: 	left;
	width: 	20%;
	padding-top: 20px;

}

.gallery-container{
	width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 90px;
	text-align: center;
	/*background-color: green;*/
	padding-bottom: 50px;
	
}



.clear::after{

	content: "";
	display: block;
	clear: both;
}








/*@media css@rule that can be used to apply style on our mediaqueries (mobiles, tablets, desktops
 or larger screens)

 only screen - media type, means that the contained styles should be only applied to the media queries (mobiles, tablets
  desktops or the larger screens)

min-width and max-width -media features, they specify the device's dimensions that we are targeting.*/  

/*media queries*/

@media only screen and (min-width: 1024px) and (max-width: 1138px){

nav{
	padding: 12px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}


.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:82px;
}


.responsive{
	padding: 0px 6px;
	margin: 0 auto;
	float: 	left;
	width: 	25%;
	padding-top: 2px;
}

.gallery-container{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 110px;
	text-align: center;
	/*background-color: green;*/
	padding-bottom: 50px;
	
}


.gallery img{
	width: 100%;
	height: 160px;
	object-fit: cover;

	
}






}



@media only screen and (min-width: 768px) and (max-width: 1023px){


nav{
	padding: 12px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}


.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:82px;
}


.responsive{
	padding: 0px 6px;
	margin: 0 auto;
	float: 	left;
	width: 	50%;
	padding-top: 2px;
}

.gallery-container{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 110px;
	text-align: center;
	/*background-color: green;*/
	padding-bottom: 50px;
	
}


.gallery img{
	width: 100%;
	height: 160px;
	object-fit: cover;

	
}




}






/*mobile*/
@media only screen and (min-width: 584px) and (max-width: 767px){

nav{
	padding: 12px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}


.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;

}


nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:82px;
}

.swiper-container{
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px;
 }

 .navigation-bar-bot{
 	z-index: 9999;
 }


 /*thumbnail*/

.responsive{
	width: 50%;
}

.gallery-container{
	
	padding-top: 100px;
	width: 90%;
}



.whole-body{
	height: auto;
}

.main{
	height: auto;
}


}


@media only screen and (min-width: 300px) and (max-width: 583px){


nav{
	padding: 12px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}


.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;

}


nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:82px;
}

.responsive{
	width: 100%;
}



}


/*tablets*/


@media only screen and (min-width: 401px) and (max-width: 960px){

}


/*desktop*/


@media only screen and (min-width: 961px){






}