*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

/*html, body{
	min-height:2000px;

}*/

.navigation-bar-bot{
	overflow: hidden;
    background-color:rgb(151, 180, 252);
    position:fixed;
    width:100%;	
    bottom: 0%;
    height: 30px;

}


.navigation-bar-bot p{
	color:  white;
	text-align: center;

}


nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;

}

nav ul {
	float:right;
	margin: 0;
	padding-right: 42px;
	

}

nav	ul li {
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;

}


nav ul li a:hover{
  color: rgb(196, 233, 245);

}



nav.black{
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));


}


.main{
	/*margin-top:52px;*/
	min-height: 100vh;
	background-color:rgb(151, 180, 252);
	


	
}


.whole-body{
	/*background-color: red;*/
	width: 90%;
	/*height: 800px;*/
	min-height: 100vh;
	/*height: calc(100vh -50px);*/
	margin: 0 auto;
	
}

.inside{

  width: 99%; 
  min-height: 100vh;
  /*overflow: auto;
  overflow-y: scroll;
  scrollbar-color: #fff;
  scrollbar-width:thin;*/
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 50px;
  text-align: center;
}

.inside img{
	height: 400px;
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
	opacity: 80%;

	
}


.inside p{
	padding-right: 100px;
	padding-left: 100px;
}


.button {
  background-color: steelblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {opacity: 1}


.menu-toggle{
	color: #fff;
	float: right;
	/*line-height: 50px;*/
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.logo{
	/*height: 48px;*/
	line-height: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}











/*@media css@rule that can be used to apply style on our mediaqueries (mobiles, tablets, desktops
 or larger screens)

 only screen - media type, means that the contained styles should be only applied to the media queries (mobiles, tablets
  desktops or the larger screens)

min-width and max-width -media features, they specify the device's dimensions that we are targeting.*/  

/*media queries*/




/*mobile*/
@media only screen and (min-width: 768px) and (max-width: 1024px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}



 .navigation-bar-bot{
 	z-index: 9999;
 }


 /*thumbnail*/



.whole-body{
	min-height: 100vh;
}

.main{
	min-height: 100vh;
}


.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }


.inside{
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}



.inside img{
	height: 400px;
	width: 90%;
	border-radius: 5px;
	opacity: 80%;
	object-fit: contain;

}

.inside .button{
	padding-top: 20px;
	width: 200px;
	height: 60px;
}



}



@media only screen and (min-width: 500px) and (max-width: 767px){


nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}


.inside img{
	height: 300px;
	width: 90%;
	border-radius: 5px;
	opacity: 80%;
	object-fit: contain;

}

.inside .button{
	padding-top: 20px;
	width: 200px;
	height: 60px;
}



}



@media only screen and (min-width: 300px) and (max-width: 499px){


nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}


.inside img{
	height: 200px;
	width: 90%;
	border-radius: 5px;
	opacity: 80%;
	object-fit: contain;

}

.inside .button{
	padding-top: 20px;
	width: 200px;
	height: 60px;
}



}

/*tablets*/


@media only screen and (min-width: 401px) and (max-width: 960px){

}


/*desktop*/


@media only screen and (min-width: 961px){






}