*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

/*html, body{
	min-height:2000px;

}*/

.navigation-bar-bot{
	overflow: hidden;
    background-color:rgb(151, 180, 252);
    position:fixed;
    width:100%;	
    bottom: 0%;
    height: 30px;

}


.navigation-bar-bot p{
	color:  white;
	text-align: center;

}


nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;

}

nav ul {
	float:right;
	margin: 0;
	padding-right: 42px;
	

}

nav	ul li {
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;

}


nav ul li a:hover{
  color: rgb(196, 233, 245);

}

.logo{
	/*height: 48px;*/
	line-height: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


nav.black{
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));


}


.main{
	/*margin-top:52px;*/
	min-height: 100vh;
	background-color:rgb(151, 180, 252);
	font-family: 'Saira Semi Condensed', sans-serif;


	
}



.whole-body{
	/*background-color: red;*/
	width: 90%;
	/*height: 800px;*/
	min-height: 100vh;
	/*height: calc(100vh -50px);*/
	margin: 0 auto;
	
}





.menu-toggle{
	color: #fff;
	float: right;
	/*line-height: 50px;*/
	font-size: 24px;
	cursor: pointer;
	display: none;
}


/*gallery*/



.gallery-container{
	min-height: 100vh;
	width: 90%;
	/*background-color: pink;*/
	margin: 0 auto;
}


.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 5px;
  /*border: 1px solid black;*/
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}




.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);*/
  background-color: rgba(0, 0, 0, 0.5); 
  
}


.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  animation-name: zoom;
  animation-duration: 0.6s;

}

.overlay-content img{
	width: 90%;
	height: 500px;
	object-fit: contain;
	
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

img{

  cursor: pointer;
  height: 250px;
  object-fit: cover;
}

/*.overlay a {
  
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}*/

.overlay .closebtn:hover, .overlay .closebtn:focus {
  color:#f1f1f1;
}

.overlay .closebtn{
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 36px;
  color: #818181;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;

}

.inside{

  width: 100%; 
  min-height: 100vh;
  /*overflow: auto;
  overflow-y: scroll;
  scrollbar-color: #fff;
  scrollbar-width:thin;*/
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 50px;
}














/*@media css@rule that can be used to apply style on our mediaqueries (mobiles, tablets, desktops
 or larger screens)

 only screen - media type, means that the contained styles should be only applied to the media queries (mobiles, tablets
  desktops or the larger screens)

min-width and max-width -media features, they specify the device's dimensions that we are targeting.*/  

/*media queries*/



@media only screen and (min-width: 901px) and (max-width: 1138px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}


.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 100%;
  }


.inside{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}


.overlay-content img{
	width: 90%;
	height: 400px;
	object-fit: contain;
	
}




}


@media only screen and (min-width: 500px) and (max-width: 900px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}


.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
  }


.inside{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.overlay-content img{
	width: 80%;
	height: 400px;
	object-fit: contain;
	
}


.overlay .closebtn{
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  color: #818181;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;

}






}



/*mobile*/
@media only screen and (min-width: 300px) and (max-width: 499px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:84px;
}



 .navigation-bar-bot{
 	z-index: 9999;
 }


 /*thumbnail*/



.whole-body{
	min-height: 100vh;
}

.main{
	min-height: 100vh;
}


.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }


.inside{
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}


.overlay-content img{
	width: 90%;
	height: 250px;
	object-fit: contain;
	
}


.overlay-content{
	padding: 30px;
	/*overflow: auto;*/
}


.header h1{
	font-size: 30px;
}


.overlay .closebtn{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: #818181;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;

}



}





/*tablets*/


@media only screen and (min-width: 401px) and (max-width: 960px){

}


/*desktop*/


@media only screen and (min-width: 961px){






}