*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

/*html, body{
	min-height:2000px;

}*/

.navigation-bar-bot{
	overflow: hidden;
    /*background-color:rgb(116, 172, 194);*/
    background-color:rgb(151, 180, 252);
    position:fixed;
    width:100%;	
    bottom: 0%;
    height: 30px;
    z-index: 99999999;

}


.navigation-bar-bot p{
	color:  white;
	text-align: center;

}


nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 9999;

}

nav ul {
	float:right;
	margin: 0;
	padding-right: 42px;
	

}

nav	ul li {
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;

}


nav ul li a:hover{
  color: rgb(196, 233, 245);

}


nav.black{
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));


}


.main{
	/*margin-top:52px;*/
	min-height: 100vh;
	background-color:rgb(151, 180, 252);
	font-family: 'Saira Semi Condensed', sans-serif;
	


	
}



.whole-body{
	/*background-color: red;*/
	width: 90%;
	/*height: 800px;*/
	min-height: 100vh;
	/*height: calc(100vh -50px);*/
	margin: 0 auto;
	
}





.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.logo{
	/*height: 48px;*/
	line-height: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}




/*about container*/

.about-container{
	min-height: 100vh;
	width:95%;
	margin: 0 auto;
	/*background-color: pink;*/

}

.clear::after {
	content: " ";
	display: block;
	clear: both;
}

.profile-pic{
	/*background-color: green;*/
	min-height: 100vh;
	width: 50%;
	float: left;
}


.profile-pic-right{

	/*background-color: blue;*/
	min-height: 100vh;
	width: 50%;
	float: left;
	
}




/*slideshow*/


 #stage {
    /*margin: 1em auto;*/
   /* width: 382px;
    height: 292px;*/
    padding-top: 150px;
  	width: 100%;
  	height: 50px;
  	/*border: 1px solid red;*/
  	position: relative;

  }

  #stage a {
    position: absolute;
    width: 100%;
    text-align: center;

  }
  #stage a img {
    /*margin: 0 auto;*/
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    object-fit: cover;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }


/*the caption*/

.caption{
	padding: 20px;
	padding-top: 150px;
	
}

.caption h2{
	font-size: 50px;
	
}

.caption p{
	font-size: 20px;
	text-align: justify;
}

.bottom-pics{
	padding-top: 280px;
	width: 100%;
	/*background-color: gray;*/
	display: block;
	text-align: center;


}


.bottom-pics img{
	
	width: 150px;
	height: 150px;
	border: 2px solid	white;
	object-fit: cover;

}


.fa-facebook{
	color: steelblue;
}

.fa-instagram{
	color: orange;
}

.fa-google{
	color: red;
}

.fab:hover{
	color: black;
}












/*@media css@rule that can be used to apply style on our mediaqueries (mobiles, tablets, desktops
 or larger screens)

 only screen - media type, means that the contained styles should be only applied to the media queries (mobiles, tablets
  desktops or the larger screens)

min-width and max-width -media features, they specify the device's dimensions that we are targeting.*/  

/*media queries*/



/*mobile*/
@media only screen and (max-width: 900px){

nav{
	padding: 12px;

}

.logo{
	/*height: 48px;*/
	line-height: 50px;
	margin-left: 20px;
	/*float: left;*/
	/*margin: 16px 48px;*/
	color: white;
	font-family: 'Dancing Script', cursive;

}


.menu-toggle{
	display: block;
	cursor: pointer;
	padding-top: -10px;
	margin-right: 10px;

}

nav .menu{
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: calc(100vh -50px);
	/*height: 60vh;*/
	background:linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
	top: -690%;
	left: 0;	
	transition: 0.5s;


}

/*nav .menu ul{
	display: block;
	text-align: center;
	padding: 10px;
	


}*/


 nav .menu ul li a{
	
	/*padding-right: 11.5px;*/
	/*border-bottom: 5px solid green;*/

}

nav ul li{
	/*padding: 15px;*/
	display: block;

}

nav ul{
	float: none;
	/*display: block;*/
	text-align: center;
	padding: 0;
}

nav .menu.active{
	top:82px;
}


 .navigation-bar-bot{
 	z-index: 9999;
 }


/* .about-container{
 	display: block;  
  flex-wrap: wrap;
 }*/

.profile-pic{
	/*background-color: green;*/
	min-height: 100vh;
	width: 100%;
	float: left;
}


.profile-pic-right{

	/*background-color: blue;*/
	min-height: 100vh;
	width: 100%;
	float: left;
	
} 

.about-container{
	display: flex;
	flex-direction:column;

}


.caption{
	padding: 10px;
	padding-top: 0px;
	text-align: center;
	
}

#stage {
    /*margin: 1em auto;*/
   /* width: 382px;
    height: 292px;*/
    padding-top: 100px;
  	width: 100%;
  	height: 50px;
  	/*border: 1px solid red;*/
  	position: relative;

  }

  .caption p{
	margin-top: 20px;
}


}








@media only screen and (max-width: 534px){


.bottom-pics{
	padding-top: 230px;
	width: 100%;
	/*background-color: gray;*/
	display: block;
	text-align: center;


}


.bottom-pics img{
	
	width: 105px;
	height: 105px;
	border: 2px solid	white;
	object-fit: cover;

}

#stage a img {
    height: 220px;
    width: 320px;
  }


.profile-pic{
	height: 20px;
	min-height: 450px;
}

 .caption h2{
	font-size: 40px;
	
} 
 

}






/*mobile*/
@media only screen and (max-width: 400px){


#stage a img {
    height: 220px;
    width: 320px;
  }



 .caption h2{
	font-size: 40px;
	
} 

.caption p{
	font-size: 15px;
	
} 




}



/*mobile*/
@media only screen and (max-width: 375px){


#stage a img {
    height: 220px;
    width: 320px;
  }



 .caption h2{
	font-size: 40px;
	
} 

.caption p{
	font-size: 15px;
	
} 


.bottom-pics img{
	
	width: 90px;
	height: 90px;
	border: 2px solid	white;
	object-fit: cover;

}

.logo{
	font-size: 30px;
}



}


/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 374px){

#stage a img {
    height: 220px;
    width: 280px;
  }



 .caption h2{
	font-size: 30px;
	
} 

#title{
	font-size: 10px;
}

.caption p{
	font-size: 15px;
	
} 


.bottom-pics img{
	
	width: 80px;
	height: 80px;
	border: 2px solid	white;
	object-fit: cover;

}


.profile-pic{
	height: 20px;
	min-height: 420px;
}






}



/*tablets*/


@media only screen and (min-width: 401px) and (max-width: 960px){

}


/*desktop*/


@media only screen and (min-width: 961px){






}